@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Merriweather, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  text-align: center;
  font-size: 2rem;
  background-color: #d05c2e;
  color: #fff;
  margin: 0 0 .7rem;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  background-color: #d05c2e;
  color: #fff;
}

.first {
  float: left;
  width: 40px;
}

.second {
  float: right;
  width: 40px;
}

nav li {
  float: left;
  width: 33.3333%;
  font-size: 1.125rem;
  border: 1px solid #a63f38;
  text-align: center;
  display: inline-block;
}

ul {
  overflow: hidden;
  padding: 0;
}

header {
  background-color: #d05c2e;
}

li:hover, a:hover {
  background-color: #a63f38;
}
